<div class="ad-container">
  <ins 
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-1200771438844459"
    data-ad-slot="3531469360"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
</div>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<style>
  .ad-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    min-height: 100px;
    width: 100%;
  }
</style> 